@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;600;700;900&family=Quicksand:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root{
    --principal-color: #D80032;
    --bc-princiapl-color: #F5F4F5;
    --bc-auxiliar-color: white;
    --text-principal-color: #394867;
    --text-principal-color-7: rgba(57, 72, 103, 0.7);
    --text-principal-color-5: rgba(57, 72, 103, 0.5);
    --text-auxiliar-color: black;
    --principal-color-hover: #e64f72;
    font-size: 62.5%;
}

.main{
    font-size: 1.6rem;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bc-auxiliar-color);
}

.main.flex{
    justify-content: space-around;
    flex-direction: column;
}

/*--------------------------------------------------------------------------------------------*/

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title,
.characters_emphasis{
    font-family: 'Noto Serif SC', serif;
}

.title{
    font-weight: 900;
}

.subtitle,
.characters_emphasis{
    font-weight: bold;
    color: var(--principal-color);
}

.red-emphasis{
    font-family: 'Noto Serif SC', serif;
    color: var(--principal-color);
}

.link{
    text-decoration: none;
    color: var(--text-principal-color);
}

/*--------------------------------------------------------------------------------------------*/

.section-home{
    width: 100%;
    min-height: 100vh;
}

.section-home.flex{
    justify-content: flex-start;
    flex-direction: column;
}

.section-home .header{
    width: 90%;
    height: 10vh;
    margin-top: 3vh;
    margin-bottom: 4rem;
}

.section-home .header.flex{
    justify-content: space-between;
}

.section-home .header ul{
    list-style: none;
}

.section-home .header ul li{
    margin-inline: 2rem;
}

.section-home .header ul .link{
    font-weight: bold;
    transition: 0.3s;
    position: relative;
}

.section-home .header ul .link::before{
    content: " ";
    width: 0px;
    height: 3px;
    background-color: var(--principal-color-hover);
    position: absolute;
    bottom: -5px;
    transition: 0.3s;
}

.section-home .header ul .link:hover{
   color: var(--principal-color-hover);
}

.section-home .header ul .link:hover::before{
    width: 80%;
    color: var(--principal-color-hover);
 }
 

.section-home .header .btn-menu{
    cursor: pointer;
    margin-left: 1rem;
    width: 4rem;
    height: 4rem;
    border: 1px solid #F1F6F9;
    border-radius: 3rem;
}
 

.section-home .home_body{
    height: 70vh;
    width: 90%;
}

.section-home .home_body img{
    height: 100%;
    object-fit: cover;
    width: 50%;
    border-radius: 1.6rem;
}

.section-home .home_body.flex{
    justify-content: space-between;
}

.section-home .home_body .text_group{
    width: 45%;
}

.section-home .home_body .text_group p{
    margin-top: 2.5rem;
    color: var(--text-principal-color-7);
}

.section-home .home_body .text_group .title{
    color: var(--text-principal-color);
    font-size: 4.5rem;
}

.section-home .home_body .search_input_container{
    width: 80%;
    background-color: #F1F6F9;
    height: 5rem;
    border-radius: 5rem;
    padding-inline: 3rem 0.1rem;
    margin: 5vh 0px 7vh;
}

.section-home .home_body .search_input_container input{
    width: 100%;
    font-size: 1.4rem;
    outline: none;
    border: none;
    font-weight: bolder;
    background-color: #F1F6F9;
}

.section-home .home_body .search_input_container .btn{
    border-radius: 5rem;
    color: var(--bc-auxiliar-color);
    height: 100%;
    width: 30%;
    background-color: var(--principal-color);
    transition: 0.3s;
}

.section-home .home_body .search_input_container .btn:hover{
    background-color: var(--principal-color-hover);
}

.section-home .home_body .warning_mini_section{
    font-size: 1.3rem;
    color: var(--text-principal-color-7);
    width: 60%;
}

.section-home .home_body .warning_mini_section_header{
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
    border: 1px solid var(--text-principal-color-7);
    border-radius: 5rem;
}

.section-home .home_body .warning_mini_section p{
    line-height: 2rem;
    margin: 0;
    width: 80%;
}


/*--------------------------------------------------------------------------------------------*/

.info_section {
    min-height: 40vh;
    width: 90%;
    margin: 5vh 0px;
}

.info_section.flex {
    flex-wrap: wrap;
    justify-content: space-between;
}

.info_section .info_block{
    margin: 1.6rem 0px;
    min-height: 13rem;
    width: 30%;
    padding: 2rem 3rem 4rem;
    border: 1px solid #F1F6F9;
    box-shadow: 0px 5px 10px #F1F6F9;
    border-radius: 1.6rem;
}

.info_block_header{
    margin-bottom: 1.8rem;
}

.info_block_header.flex{
    align-items: flex-start;
    justify-content: space-between;
}

.info_block_header .title{
    color: var(--principal-color);
}

.info_text_group .subtitle{
    display: block;
    margin-bottom: 0.8rem;
}

.info_text_group p{
    color: var(--text-principal-color);
}

/*--------------------------------------------------------------------------------------------*/

.collection_section{
    width: 100%;
    min-height: 100vh;
    background-color: #F1F6F9;
    padding: 10vh 0px;
}

.collection_section.flex{
    flex-direction: column;
}

.collection_section_text_group{
    width: 50%;
    color: var(--text-principal-color);
    text-align: center;
}

.collection_section_text_group p{
    color: var(--text-principal-color-7);
}

.collection_section_text_group .title{
    margin: 1rem 0px 7vh;
}

.card_collection_container.flex{
    flex-wrap: wrap;
}

.card_collection_container .card{
    background-color: var(--bc-auxiliar-color);
    margin: 1.5rem;
    min-height: 21rem;
    padding: 4rem;
    padding-bottom: 6rem;
    border-radius: 1.6rem;
    width: 29rem;
    color: var(--text-principal-color);
}

.card_collection_container .card .card_header{
    margin-bottom: 2rem;
}

.card_collection_container .card .card_header .start-img{
    width: 30%;
}

.card_collection_container .card .card_header.flex{
    justify-content: space-between;
}

.length_collection{
    color: var(--text-principal-color-5);
    font-weight: bold;
    font-size: 1.4rem;
}

.length_collection img{
    margin-right: 0.5rem;
}

.card_collection_container .card .card_text_group .subtitle{
    font-size: 2.3rem;
    font-family: 'Noto Serif SC', serif;
    display: block;
    font-weight: 900;
    margin-bottom: 0.5rem;
    color: var(--principal-color);
}

.card_collection_container .card:last-of-type{
    background-color: var(--principal-color);
    color: var(--bc-auxiliar-color);
}

.card_collection_container .card:last-of-type .subtitle{
    color: var(--bc-auxiliar-color);
}

.card_collection_container .card:last-of-type .length_collection{
    color: var(--bc-auxiliar-color);
}

/*--------------------------------------------------------------------------------------------*/

.about_section{
    width: 100%;
    min-height: 80vh;
}

.about_section .about{
    border-radius: 1.6rem;
    width: 75%;
    height: 100%;
}

.about_section .about.flex{
    flex-direction: column;
    justify-content: center;
}

.about_section .about .about_paragraph{
    font-weight: 500;
    color: var(--text-principal-color);
    text-align: center;
    margin: 5vh 0px 9vh;
    line-height: 3rem;
    font-size: 2rem;
}

.about_section .about .perfil_comment{
    border: 1px solid #F1F6F9;
    box-shadow: 0px 5px 10px #F1F6F9;
    padding: 1rem;
    border-radius: 1.6rem;
    width: 35%;
    height: 10vh;
    position: relative;
}

.about_section .about .perfil_comment.flex{
    justify-content: space-between;
}

.about_section .about .perfil_comment .perfil-img{
    object-fit: cover;
    border-radius: 20rem;
    margin-right: 2rem;
    height: 7vh;
    width: 7vh;
}

.about_section .about .perfil_comment .perfil_text_group p{
    font-size: 1.4rem;
    color: var(--text-principal-color-7);
}

.about_section .about .perfil_comment .perfil_text_group h2{
    font-weight: 900;
    margin-bottom: 3px;
    font-size: 1.6rem;
    color: var(--principal-color);
}

.verify-label_img{
    width: 2rem;
    position: absolute;
    top: 15%;
    right: 10%;
}

.italic-empasis{
    font-style: italic;
}

/*--------------------------------------------------------------------------------------------*/
footer{
    width: 100%;
    min-height: 70vh;
}

/*--------------------------------------------------------------------------------------------*/

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    outline: none;
    border: none;
    border-radius: 3rem;
    background-color: var(--principal-color);
    color: var(--bc-auxiliar-color);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.6rem;
    margin-inline: .3rem;
    transition: 0.3s;
    padding-inline: 1.6rem;
    text-decoration: none;
}

.btn.void{
    border: 1px solid var(--principal-color);
    background-color: var(--bc-auxiliar-color);
    color: var(--principal-color);
}

/*.btn span{
    margin-right: 0.8rem;
}*/

.btn.avoid{
    background-color: var(--auxiliar-background-color);
    color: var(--color);
}

.btn:hover{
    border: n;
    color: var(--bc-princiapl-color);
    background-color: var(--principal-color-hover);
}