@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;600;700;900&family=Quicksand:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Quicksand', sans-serif;
}

:root{
    --principal-color: #AD122C;
    --bc-princiapl-color: #F1F6F9;
    --bc-auxiliar-color: white;
    --text-principal-color: #394867;
    --text-principal-color-7: rgba(57, 72, 103, 0.7);
    --text-principal-color-5: rgba(57, 72, 103, 0.5);
    --text-auxiliar-color: black;
    --principal-color-hover: #d15066;
    font-size: 62.5%;
}

.main{
    font-size: 1.6rem;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bc-auxiliar-color);
}

.main.flex{
    justify-content: space-around;
    flex-direction: column;
}

/*--------------------------------------------------------------------------------------------*/

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title,
.characters_emphasis{
    font-family: 'Noto Serif SC', serif;
}

.title{
    font-weight: 900;
}

.subtitle,
.characters_emphasis{
    font-weight: bold;
    color: var(--principal-color);
}

.link{
    text-decoration: none;
    color: var(--text-principal-color);
}

/*--------------------------------------------------------------------------------------------*/

.section-home{
    width: 100%;
    height: 100vh;
}

.section-home.flex{
    flex-direction: column;
}

.section-home .header{
    width: 90%;
    height: 5vh;
    margin-bottom: 4rem;
}

.section-home .header.flex{
    justify-content: space-between;
}

.section-home .header ul{
    list-style: none;
}

.section-home .header ul li{
    margin-inline: 2rem;
}

.section-home .header ul .link{
    font-weight: bold;
}

.section-home .home_body{
    height: 80vh;
    width: 90%;
    border-radius: 1.6rem;
    background-image: url('https://images.unsplash.com/photo-1547981609-4b6bfe67ca0b?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: 40% 30%;
    background-attachment: fixed;
}

.fading_container{
    height: 100%;
    width: 60%;
    background: linear-gradient(65deg, rgba(173, 18, 44, 1) 40%, rgba(255,255,255, 0.1) 65% ,rgba(255,255,255,0.0) 100%);
    border-top-left-radius: 1.6rem;
    border-bottom-left-radius: 1.6rem;
}

.section-home .home_body .text_group{
    width: 70%;
    color: var(--bc-auxiliar-color);
}

.section-home .home_body .text_group p{
    margin: 2rem 0px 4rem;
    width: 90%;
}

.section-home .home_body .text_group .title{
    font-size: 4.5rem;
}

.section-home .home_body .search_input_container{
    width: 80%;
    background-color: var(--bc-auxiliar-color);
    height: 5rem;
    border-radius: 5rem;
    padding-inline: 3rem 0.1rem;
}

.section-home .home_body .search_input_container input{
    width: 100%;
    font-size: 1.4rem;
    outline: none;
    border: none;
    font-weight: bolder;
    background-color: var(--bc-auxiliar-color);
}

.section-home .home_body .search_input_container .btn{
    border-radius: 5rem;
    color: var(--bc-auxiliar-color);
    height: 85%;
    width: 10rem;
    background-color: var(--principal-color);
    transition: 0.3s;
}

.section-home .home_body .search_input_container .btn:hover{
    background-color: var(--principal-color-hover);
}


/*--------------------------------------------------------------------------------------------*/

.info_section {
    min-height: 40vh;
    margin-bottom: 7vh;
}

.info_section.flex {
    flex-wrap: wrap;
}

.info_section .info_block{
    margin: 2rem;
    min-height: 13rem;
    padding: 2rem 3rem 4rem;
    box-shadow: 0px 5px 15px #F1F6F9;
    border-radius: 1.6rem;
    width: 28rem;
}

.info_block_header{
    margin-bottom: 1.8rem;
}

.info_block_header.flex{
    align-items: flex-start;
    justify-content: space-between;
}

.info_block_header .title{
    color: var(--principal-color);
}

.info_text_group .subtitle{
    display: block;
    margin-bottom: 0.8rem;
}

.info_text_group p{
    color: var(--text-principal-color);
}

/*--------------------------------------------------------------------------------------------*/

.collection_section{
    width: 100%;
    min-height: 100vh;
    background-color: #F1F6F9;
    padding: 10vh 0px;
}

.collection_section.flex{
    flex-direction: column;
}

.collection_section_text_group{
    width: 50%;
    color: var(--text-principal-color);
    text-align: center;
}

.collection_section_text_group p{
    color: var(--text-principal-color-7);
}

.collection_section_text_group .title{
    margin: 1rem 0px 7vh;
}

.card_collection_container.flex{
    flex-wrap: wrap;
}

.card_collection_container .card{
    background-color: var(--bc-auxiliar-color);
    margin: 1.5rem;
    min-height: 21rem;
    padding: 4rem;
    padding-bottom: 6rem;
    border-radius: 1.6rem;
    width: 22rem;
    color: var(--text-principal-color);
}

.card_collection_container .card .card_header{
    margin-bottom: 2rem;
}

.card_collection_container .card .card_header .start-img{
    width: 30%;
}

.card_collection_container .card .card_header.flex{
    justify-content: space-between;
}

.length_collection{
    color: var(--text-principal-color-5);
    font-weight: bold;
    font-size: 1.4rem;
}

.length_collection img{
    margin-right: 0.5rem;
}

.card_collection_container .card .card_text_group .subtitle{
    font-size: 2.3rem;
    font-family: 'Noto Serif SC', serif;
    display: block;
    font-weight: 900;
    margin-bottom: 0.5rem;
    color: var(--principal-color);
}

.card_collection_container .card:last-of-type{
    background-color: var(--principal-color);
    color: var(--bc-auxiliar-color);
}

.card_collection_container .card:last-of-type .subtitle{
    color: var(--bc-auxiliar-color);
}

.card_collection_container .card:last-of-type .length_collection{
    color: var(--bc-auxiliar-color);
}

/*--------------------------------------------------------------------------------------------*/

.about_section{
    width: 100%;
    min-height: 100vh;
}

.about_section .about{
    border-radius: 1.6rem;
    width: 80%;
    height: 70vh;
    box-shadow: 0px 5px 15px #F1F6F9;
}

.about_section .about.flex{
    justify-content: space-between;
}

.about_section .about img{
    object-fit: cover;
    border-top-right-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
    width: 50%;
    height: 100%;
}

.about_section .about .about_text_group{
    margin-inline: 1rem 3rem;
    width: 48%;
}

.about_section .about .about_text_group .title{
    font-size: 2.6rem;
    margin: 2rem 0px;
}

/*--------------------------------------------------------------------------------------------*/

.btn{
    outline: none;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--principal-color);
    color: var(--bc-auxiliar-color);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.6rem;
    margin-inline: .3rem;
    transition: 0.3s;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

.btn span{
    margin-right: 0.8rem;
}

.btn.avoid{
    background-color: var(--auxiliar-background-color);
    color: var(--color);
}

.btn:hover{
    background-color: var(--principal-color-hover);
}